body {
    font-family: 'Roboto', sans-serif;
}

button {
    border-radius: 50%;
    border: none;
    outline: none !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-appearance: none;
    -moz-appearance: none;
}

.header {
    font-size: 40px;
    font-weight: bold;
    background-color: #3F51B5;
    margin-bottom: 20px;
    color: #fff;
    padding: 10px 0;
}

    .header .header-right {
        text-align: right;
    }

img {
    height: auto;
    width: 100%;
}

.btn-delete {
    color: #fff;
    background-color: #FF4081;
    position: absolute;
    top: 5px;
    right: 20px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 20px;
    -webkit-transition: 1s;
    transition: 1s;
}

    .btn-delete.hide-delete {
        visibility: hidden;
        opacity: 0;
        transform: rotate(180deg);
    }
    
    .btn-delete.show-delete {
        visibility: visible;
        opacity: 1;
    }

#menu-options {
    position: fixed;
    right: 25px;
    bottom: 25px;
    font-size: 20px;
    color: #fff;
}

    #menu-options .menu-wrapper {
        position: relative;
    }

    #menu-options button {
        height: 50px;
        width: 50px;
        background-color: #3F51B5;
    }
    
    #menu-options .menu-breakout {
        position: absolute;
        bottom: 50px;
        z-index: -100;
    }
        #menu-options .menu-breakout button {
            display: block;
            position: relative;
            margin-bottom: 10px;
            background-color: #FF4081;
        }
    
        #menu-options .menu-breakout .add-photo-btn.show-menu {
            bottom: 0;
            -webkit-transition: 1s ease;
            transition: 1s ease;
        }
        
        #menu-options .menu-breakout .add-photo-btn.hide-menu {
            bottom:-275px;
            -webkit-transition: 1s ease-in;
            transition: 1.4s ease-in;
        }
        
        #menu-options .menu-breakout .delete-photo-btn.show-menu {
            bottom: 0;
            -webkit-transition: 1.1s ease;
            transition: 1.2s ease;
        }
        
        #menu-options .menu-breakout .delete-photo-btn.hide-menu {
            bottom:-275px;
            -webkit-transition: 1s ease-in;
            transition: 1.2s ease-in;
        }
        
        #menu-options .menu-breakout .power-off-btn.show-menu {
            bottom: 0;
            -webkit-transition: 1.2s ease;
            transition: 1.4s ease;
        }
        
        #menu-options .menu-breakout .power-off-btn.hide-menu {
            bottom:-275px;
            -webkit-transition: 1s ease-in;
            transition: 1s ease-in;
        }

/* Mobile Styles */
@media (max-width: 768px){
    .header {
        font-size: 20px;
        text-align: center;
    }
    
    .header .header-right {
        text-align: center;
    }
}