<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Upload a new photo</h3>
</div>
<div class="modal-body" id="modal-body">
    <div><input type="file" id="fileInput" accept="image/*"></input></div>
    <div class="cropArea">
        <ui-cropper image="newImage" area-type="rectangle" aspect-ratio=".625" result-image="croppedDataUrl" init-max-area="true" ng-init="croppedDataUrl=''"></ui-cropper>
    </div>
    <div>
        <img ng-src="{{croppedDataUrl}}" />
    </div>
    <button ng-click="upload()">Submit</button>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
