<div class="modal-wrapper">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Upload a new photo</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <button class = "btn-img btn-pink btn-modal" ngf-select ng-model="picFile" ngf-fix-orientation="true" accept="image/*">Select Image</button>
        <div class="img-crop">
            <canvas width="250" height="300" id="canvas" image-cropper image="picFile | ngfDataUrl" cropped-image="croppedImage" crop-width="800" crop-height="1280" min-width="400" min-height="640" keep-aspect="true" touch-radius="10"></canvas>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn-pink btn-modal" type="button" ng-click="upload()">Upload</button>
        <button class="btn-blue btn-modal" type="button" ng-click="cancel()">Cancel</button>
    </div>
    <div class="loading-overlay" ng-show="loading">
        <div class="loading-pic">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
    </div>
</div>
