<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Toggle Power</h3>
</div>
<div class="modal-body" id="modal-body">
    <p>Select "Screen" to just turn screen off.</p>
    <p>Select "Unplug" if you plan to unplug frame.</p>
</div>
<div class="modal-footer">
    <button class="btn-pink btn-modal" type="button" ng-click="screen()">Screen</button>
    <button class="btn-pink btn-modal" type="button" ng-click="system()">Unplug</button>
    <button class="btn-blue btn-modal" type="button" ng-click="cancel()">Cancel</button>
</div>