<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Toggle Power</h3>
</div>
<div class="modal-body" id="modal-body">
    <p>Select "Just Screen" if you are leaving plugged in.</p>
    <p>If unplugging select "Unplug System".</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="screen()">Just Screen</button>
    <button class="btn btn-primary" type="button" ng-click="system()">Unplug System</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>